/* Fontawesome 4.7 */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
*{margin:0; padding: 0; box-sizing: border-box;}
body{
   font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
   color:#222;
   width: 100vw;
   height: 100vh;
   display: flex; 
   justify-content: center; 
   align-items: center;
   flex-direction: column;
   user-select:none;
   background: rgb(255, 241, 237);
   background-image: radial-gradient(#ffffff 20%, transparent 0), radial-gradient(#f1cfcf 20%, transparent 0);
   background-position: 0 0, 10px 10px;
   background-size: 20px 20px;
}
li{list-style: none;}

/* 마우스 커서 */
.cursor{
   position: absolute;
   font-size: 50px;
   color:white;
   z-index: 888;
   cursor: none;
   pointer-events: none;
   display: none;
   -webkit-text-stroke:4px #c46811;
}

/* 하트이펙트 */
.effect{
   color:crimson;
   position: absolute;
   font-size:35px;
   z-index: 888;
   transition: all .3s;
   cursor: none;
   pointer-events: none;
   display: none;
}
.effect.active{
   display: block;
   animation:heart .5s linear forwards;
}
@keyframes heart{
   100%{
      opacity: 0;
      margin-top:-150px;  
   }
}

/* 경고창 */
.modal{
   width: 100%;
   height: 100%;
   position: fixed;
   top:0;
   left:0;
   z-index: 999;
   transition: all .3s;
   display: none;
}
.modal{
   width: 100%;
   height: 100%;
   background: #2222224b;
   position: fixed;
}
.alert{
   width: 500px;
   height: 200px;
   z-index: 999;
   position: relative;
   top:50%;
   left:50%;
   transform: translate(-50%, -50%);
   background-color: #fff1bd;
   background-image: linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff), linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff);
   background-position: 0 0, 25px 25px;
   background-size: 50px 50px;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-shadow: 0 0 10px 0 rgba(95, 53, 19, 0.295);
}
.alert.active{
   animation:alert .2s linear forwards;
}
@keyframes alert{
   0%{left:48%;}
   25%{left:52%;}
   50%{left:49%}
   100%{left:51%;}
}
.alertMsg{
   font-size: 30px;
   font-weight: bold;
   color:#83450b;
   padding:20px 90px;
   text-align: center;
   word-break: keep-all;
}
.alertBtn{
   border:none;
   background: #c46811;
   padding:10px 20px;
   font-size: 20px;
   font-weight: bold;
   color:white;
   border-radius: 10px;
   cursor: pointer;
}
.alertBtn:hover{background: #a75509;}
.alertBtn:active{background: #c46811;}

/* 게임 화면 */
.container{
   width: 1024px;
   text-align: center;
   background: white;
   box-shadow: 0 0 10px 0 rgba(150, 69, 32, 0.171);
   border-radius: 30px;
}
/* .gameTitle{
   margin:50px auto;
   margin-bottom: 0;
   font-weight: bold;
   text-align: center;
   font-size: 50px;
} */
.game{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* 캐릭터 영역 */
.box1{
   width: 40%;;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   padding:100px 50px;
   margin-right: 50px;
}
.petName{
   font-size: 25px;
   font-weight: bold;
}
.petName input{
   width: 120px;
   padding:3px 0;
   font-size: 25px;
   font-weight: bold;
}
.renameBtn{
   border:none;
   background: none;
   cursor: pointer;
   font-size: 15px;
}
.progressbar{
   width: 300px;
   height: 50px;
   text-align: center;
   background: lightgray;
   font-size: 20px;
   border-radius: 30px;
   box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.116);
   color:white;
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.233);
   overflow: hidden;
   position: relative;
   border: 5px solid white;
   margin-bottom: 50px;
}
.progressbar>span{
   position: absolute;
   z-index: 100;
   top:50%;
   left:50%;
   transform: translate(-50%, -50%);
}
.bar{
   position: absolute;
   height: 100%;
   background: rgb(255, 68, 93);
   width: 0px;
   top:0;
   left:0;
   box-shadow: inset 0 0 10px 1px rgba(110, 0, 28, 0.349);
}
.charater{
   width: 250px;
   height: 350px;
   cursor: none;
   transition: all .3s;
   position: relative;
}
.charater .egg{
   width: 100%;
   height: 100%;
   border: 1px solid black;
   background: white;
   border-radius: 50% 50% 30% 30%;
}
.charater img{width: 100%;height: 100%;}
.charater:hover{transform: scale(1.05);}
.charater:active{transform: scale(0.95);}
/* 업그레이드 영역 */
.box2{
   padding:100px 50px;
   padding-left: 0;
   align-self: flex-end;
   width: 60%;
}
.box2>button{
   border: none;
   padding:20px 20px;
   font-size: 20px;
   font-weight:bold;
   background: rgb(255, 148, 60);
   border-radius: 10px 10px 0 0;
   color:white;
   user-select:none;
   cursor: pointer;
}
.box2>button.active{background: rgb(255, 212, 131);color:rgb(201, 84, 38);}

.autoBtn{margin-right: 25px;}
.upgradeBtn{margin-left: 25px;}
.content{
   background: rgb(255, 212, 131);
   border-radius:20px;
   box-shadow: 5px 5px 2px 0 rgb(238, 149, 97);
   height: 400px;
   padding:20px 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* 자동화 업그레이드 */
.shop1{
   display: flex;
   width: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.items{
   background: white;
   width: 90%;
   padding:5px;
   display: flex;
   align-items: center;
   margin-bottom:10px;
   border-radius: 10px;
   cursor: pointer;
   user-select:none;
   position: relative;
   justify-content: space-between;
   position: relative;
}
.perUp{
   position: absolute;
   display: none;
   width: 100px;
   height: 30px;
   background: white;
   top:-20px;
   right:8px;
   border-radius: 5px;
}
.items:last-child{margin-bottom: 0;}
.items:hover{box-shadow:inset 0 0 1px 2px rgb(255, 152, 55);}
.items:hover .perUp{display: block;}
.items:active{box-shadow:inset 0 0 1px 2px rgb(240, 88, 0);}

.items .title{display: flex;align-items: center;}
.items .image{margin-left: 10px; margin-right: 20px;width: 50px; height: 50px;font-size: 35px;}
.items .name{
   font-size: 25px;
   margin-right: 30px;
   font-weight: bold;
}
.items .price{
   margin-right:50px;
   font-size: 18px;
   justify-self: flex-end;
}
.items .price::before{
   content:"\f004";
   font-family:"Font Awesome 5 Free";
   font-weight: 600;
   color:crimson;
   font-size: 14px;
   margin-right: 10px;
}
.items .step{
   margin:0;
   font-size: 50px;
   position: absolute;
   bottom: -5px;
   font-weight: bold;
   color:#ffac683a;
   right:5px;
}

/* 클릭 업그레이드 */
.shop2{
   display: none;
   width: 90%;
   height: 90%;
   background: white;
   border-radius: 20px;
   flex-direction: column;
   padding:30px 0;
   justify-content:center;
   align-items: center;
}
.shop2 i{font-size:100px;color:#c46811;}
.shop2>div{display: flex;flex-direction: column;justify-content: center;align-items: center;}
.buyBtn{
   padding:10px 30px;
   font-size: 25px;
   border: none;
   background: rgb(235, 109, 26);
   font-weight: bold;
   border-radius: 10px;
   color: white;
   cursor: pointer;
   box-shadow: 0 8px 0 0 #752107;
   margin-top:3cqb;
   margin-bottom: 20px;
}
.buyBtn:hover{
   background:rgb(233, 102, 15);
}
.buyBtn:active{
   position: relative;
   top:10px;
   background:rgb(224, 102, 20);
   box-shadow: 0 2px 0 0 #752107;
}
.shop2 span{color:rgb(192, 77, 24);}

/* 미니게임 */
.miniGame{
   width: 90%;
   border: 1px solid;
   margin:0 auto;
   display: none;
}

@media screen and (max-width:1024px) {
   .container{width: 90%;}
}
@media screen and (max-width:900px) {
   .container{width: 90%;}
   .gameTitle{font-size: 30px;}
   .game{flex-direction: column;}
   .box1{width: 100%;margin-right: 0;padding:20px 0;}
   .charater{
      width: 150px;
      height: 200px;
   }
   .progressbar{
      height: 30px;
      margin-bottom: 20px;
   }
   .box2{width:100%; align-self: center;padding:0;}
   .items .name{font-size: 25px;}
   .alert{width: 90%;}
   .alertMsg{padding:20px;}
   .miniGame{margin-top:50px;}
}